body {
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.matrix {
  position: absolute;
  top: 0;
  left: 0;
  width: 200vw; /* Cover full viewport width */
  height: 200vh;
  overflow: hidden;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transform: rotate(-39deg); /* Rotate the matrix */
  transform-origin: 11% 50%;
}

.matrix .row {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  animation: scroll 4s linear infinite;
  /* transition: transform 0.3s ease, height 0.3s ease; */
}

.matrix .row:nth-child(even) {
  animation: scroll-reverse 4s linear infinite;
}

.matrix .icon {
  color: #4caf50;
  margin-right: 15px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10%);
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}
